@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.bg-gradient-download-app {
  background: linear-gradient(90deg,rgba(255, 175, 27, 1) 0%, rgba(182, 99, 255, 1) 87%, rgba(255, 175, 27, 1) 100%);
}


.border-gradient {
  background: linear-gradient(white, white) padding-box,
  linear-gradient(46deg, rgba(254, 173, 8, 1) 0%, rgba(254, 173, 8, 1) 0%, rgba(209, 128, 249, 1) 100%) border-box;
border-radius: 25px;
border: 3px solid transparent;
}